<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <!-- Sidebar navigation -->
            <div class="col-md-3 col-lg-2">
                <app-nav-bar></app-nav-bar>
            </div>
            
            <!-- Main content -->
            <div class="col-md-9 col-lg-10">
                <app-main-content></app-main-content>
            </div>
        </div>
    </div>
</body>

</html>