<div class="container-fluid px-0">
    <div class="content-left-1 bg-light rounded-3 shadow p-3">
        <div class="bg-white rounded-2 shadow-sm">
            <!-- Header -->
            <div class="d-flex justify-content-between align-items-center text-white p-2 rounded-top" style="background-color: #475974;">
                <span class="fw-bold fs-6">ซักประวัติหน้าห้องตรวจ (Nurse Counter)</span>
                <div class="d-flex">
                    <button class="btn btn-light btn-sm me-2">
                        <span class="text-danger text-decoration-underline" style="font-size: 10px;">เรียกคิวขึ้นจอ</span>
                    </button>
                    <button class="btn btn-light btn-sm">
                        <span class="text-danger text-decoration-underline" style="font-size: 10px;">Link to DM-Profile</span>
                    </button>
                </div>
            </div>
            <!-- Body -->
            <div class="bg-white p-3">
                <div class="row g-3">
                    <!-- มามโดย -->
                    <div class="col-12 d-flex flex-wrap align-items-center">
                        <span class="fw-bold me-2" style="width: 80px; font-size: 14px; text-align: end;">มาโดย :</span>
                        <div class="form-check me-3">
                            <input class="form-check-input" type="radio" name="came-by" id="cameBy1">
                            <label class="form-check-label" for="cameBy1" style="font-size: 14px;">
                                เดินมา
                            </label>
                        </div>
                        <div class="form-check me-3">
                            <input class="form-check-input" type="radio" name="came-by" id="cameBy2">
                            <label class="form-check-label" for="cameBy2" style="font-size: 14px;">
                                ล้อนั่ง
                            </label>
                        </div>
                        <div class="form-check me-3">
                            <input class="form-check-input" type="radio" name="came-by" id="cameBy3">
                            <label class="form-check-label" for="cameBy3" style="font-size: 14px;">
                                เปลนอน
                            </label>
                        </div>
                        <div class="form-check me-3">
                            <input class="form-check-input" type="radio" name="came-by" id="cameBy4">
                            <label class="form-check-label" for="cameBy4" style="font-size: 14px;">
                                อุ้ม
                            </label>
                        </div>
                        <div class="form-check me-3">
                            <input class="form-check-input" type="radio" name="came-by" id="cameBy5">
                            <label class="form-check-label" for="cameBy5" style="font-size: 14px;">
                                ใช้อุปกรณ์ช่วย
                            </label>
                        </div>
                    </div>
                    <!-- ประเภทผู้ช่วย -->
                    <div class="col-12 d-flex flex-wrap align-items-center">
                        <span class="fw-bold me-2" style="width: 80px; font-size: 14px; text-align: end;">ประเภทผู้ช่วย :</span>
                        <div class="form-check me-3">
                            <input class="form-check-input" type="radio" name="help" id="help1">
                            <label class="form-check-label" for="help1" style="font-size: 14px;">
                                เร่งด่วน
                            </label>
                        </div>
                        <div class="form-check me-3">
                            <input class="form-check-input" type="radio" name="help" id="help2">
                            <label class="form-check-label" for="help2" style="font-size: 14px;">
                                ไม่เร่งด่วน
                            </label>
                        </div>
                        <div class="form-check me-3">
                            <input class="form-check-input" type="radio" name="help" id="help3">
                            <label class="form-check-label" for="help3" style="font-size: 14px;">
                                Walk in
                            </label>
                        </div>
                        <div class="form-check me-3">
                            <input class="form-check-input" type="radio" name="help" id="help4">
                            <label class="form-check-label" for="help4" style="font-size: 14px;">
                                รับ Consult
                            </label>
                        </div>
                        <div class="form-check me-3">
                            <input class="form-check-input" type="radio" name="help" id="help5">
                            <label class="form-check-label" for="help5" style="font-size: 14px;">
                                Follow up
                            </label>
                        </div>
                    </div>
                    <!-- ข้อมูลต่างๆ -->
                    <div class="col-12 d-flex flex-wrap gap-2">
                        <!-- ตัวอย่าง BW -->
                        <div class="d-flex align-items-center">
                            <span class="me-2" style="width: 40px; font-size: 14px;">BW</span>
                            <input type="text" class="form-control form-control-sm text-center" style="width: 55px;" placeholder="">
                            <span class="ms-2" style="width: 30px; font-size: 14px;">kgs.</span>
                        </div>
                        <!-- ตัวอย่าง HT -->
                        <div class="d-flex align-items-center">
                            <span class="me-2" style="width: 40px; font-size: 14px;">HT</span>
                            <input type="text" class="form-control form-control-sm text-center" style="width: 55px;" placeholder="">
                            <span class="ms-2" style="width: 30px; font-size: 14px;">cms.</span>
                        </div>
                        <!-- รอบเอว -->
                        <div class="d-flex align-items-center">
                            <span class="me-2" style="width: 40px; font-size: 14px;">รอบเอว</span>
                            <input type="text" class="form-control form-control-sm text-center" style="width: 55px;" placeholder="">
                            <span class="ms-2" style="width: 30px; font-size: 14px;">cms.</span>
                        </div>
                        <!-- BMI -->
                        <div class="d-flex align-items-center">
                            <span class="me-2" style="width: 40px; font-size: 14px;">BMI</span>
                            <input type="text" class="form-control form-control-sm text-center" style="width: 55px;" placeholder="">
                            <span class="ms-2" style="width: 30px; font-size: 14px;"></span>
                        </div>
                        <!-- OFC -->
                        <div class="d-flex align-items-center">
                            <span class="me-2" style="width: 40px; font-size: 14px;">OFC</span>
                            <input type="text" class="form-control form-control-sm text-center" style="width: 55px;" placeholder="">
                            <span class="ms-2" style="width: 30px; font-size: 14px;">cms.</span>
                        </div>
                        <!-- BSA -->
                        <div class="d-flex align-items-center">
                            <span class="me-2" style="width: 40px; font-size: 14px;">BSA</span>
                            <input type="text" class="form-control form-control-sm text-center" style="width: 55px;" placeholder="">
                            <span class="ms-2" style="width: 30px; font-size: 14px;">m².</span>
                        </div>
                        <!-- SP02 -->
                        <div class="d-flex align-items-center">
                            <span class="me-2" style="width: 40px; font-size: 14px;">SP02</span>
                            <input type="text" class="form-control form-control-sm text-center" style="width: 55px;" placeholder="">
                            <span class="ms-2" style="width: 30px; font-size: 14px;"></span>
                        </div>
                        <!-- ANC -->
                        <div class="d-flex align-items-center">
                            <span class="me-2" style="width: 40px; font-size: 14px;">ANC</span>
                            <input type="text" class="form-control form-control-sm text-center" style="width: 55px;" placeholder="">
                            <span class="ms-2" style="width: 30px; font-size: 14px;">mm².</span>
                        </div>
                        <!-- FBS -->
                        <div class="d-flex align-items-center">
                            <span class="me-2" style="width: 40px; font-size: 14px;">FBS</span>
                            <input type="text" class="form-control form-control-sm text-center" style="width: 55px;" placeholder="">
                            <span class="ms-2" style="width: 30px; font-size: 14px;">mg.%</span>
                        </div>
                    </div>
                    <!-- V/S 1 -->
                    <div class="col-12 d-flex justify-content-between">
                        <span class="fw-bold" style="font-size: 14px;">V/S 1:</span>
                        <div class="d-flex flex-wrap gap-2">
                            <div class="d-flex align-items-center">
                                <span class="me-2" style="width: 40px; font-size: 14px;">T</span>
                                <input type="text" class="form-control form-control-sm text-center" style="width: 55px;" placeholder="">
                                <span class="ms-2" style="width: 30px; font-size: 14px;">°C</span>
                            </div>
                            <div class="d-flex align-items-center">
                                <span class="me-2" style="width: 40px; font-size: 14px;">PR</span>
                                <input type="text" class="form-control form-control-sm text-center" style="width: 55px;" placeholder="">
                                <span class="ms-2" style="width: 30px; font-size: 14px;">bpm</span>
                            </div>
                            <div class="d-flex align-items-center">
                                <span class="me-2" style="width: 40px; font-size: 14px;">RR</span>
                                <input type="text" class="form-control form-control-sm text-center" style="width: 55px;" placeholder="">
                                <span class="ms-2" style="width: 30px; font-size: 14px;">bpm</span>
                            </div>
                            <div class="d-flex align-items-center">
                                <span class="me-2" style="width: 68px; font-size: 14px;">NEWS2 Score</span>
                                <input type="text" class="form-control form-control-sm text-center" style="width: 55px;" placeholder="">
                            </div>
                            <div class="d-flex align-items-center">
                                <span class="me-2" style="width: 40px; font-size: 14px;">BP</span>
                                <input type="text" class="form-control form-control-sm text-center" style="width: 55px;" placeholder="">
                            </div>
                            <div class="d-flex align-items-center">
                                <input type="text" class="form-control form-control-sm text-center" style="width: 55px;" placeholder="">
                                <span class="ms-2" style="width: 40px; font-size: 14px;">m².</span>
                            </div>
                            <div class="d-flex align-items-center">
                                <span class="me-2" style="width: 68px; font-size: 14px;">Pain Score</span>
                                <input type="text" class="form-control form-control-sm text-center" style="width: 55px;" placeholder="">
                            </div>
                        </div>
                    </div>
                    <!-- V/S 2 -->
                    <div class="col-12 d-flex justify-content-between">
                        <span class="fw-bold" style="font-size: 14px;">V/S 2:</span>
                        <div class="d-flex flex-wrap gap-2">
                            <div class="d-flex align-items-center">
                                <span class="me-2" style="width: 40px; font-size: 14px;">T</span>
                                <input type="text" class="form-control form-control-sm text-center" style="width: 55px;" placeholder="">
                                <span class="ms-2" style="width: 30px; font-size: 14px;">°C</span>
                            </div>
                            <div class="d-flex align-items-center">
                                <span class="me-2" style="width: 40px; font-size: 14px;">PR</span>
                                <input type="text" class="form-control form-control-sm text-center" style="width: 55px;" placeholder="">
                                <span class="ms-2" style="width: 30px; font-size: 14px;">bpm</span>
                            </div>
                            <div class="d-flex align-items-center">
                                <span class="me-2" style="width: 40px; font-size: 14px;">RR</span>
                                <input type="text" class="form-control form-control-sm text-center" style="width: 55px;" placeholder="">
                                <span class="ms-2" style="width: 30px; font-size: 14px;">bpm</span>
                            </div>
                            <div class="d-flex align-items-center">
                                <span class="me-2" style="width: 68px; font-size: 14px;">NEWS2 Score</span>
                                <input type="text" class="form-control form-control-sm text-center" style="width: 55px;" placeholder="">
                            </div>
                            <div class="d-flex align-items-center">
                                <span class="me-2" style="width: 40px; font-size: 14px;">BP</span>
                                <input type="text" class="form-control form-control-sm text-center" style="width: 55px;" placeholder="">
                            </div>
                            <div class="d-flex align-items-center">
                                <input type="text" class="form-control form-control-sm text-center" style="width: 55px;" placeholder="">
                                <span class="ms-2" style="width: 40px; font-size: 14px;">m².</span>
                            </div>
                            <div class="d-flex align-items-center">
                                <span class="me-2" style="width: 68px; font-size: 14px;">Pain Score</span>
                                <input type="text" class="form-control form-control-sm text-center" style="width: 55px;" placeholder="">
                            </div>
                        </div>
                    </div>
                    <!-- Chief complaint (CC) -->
                    <div class="col-12 p-2">
                        <div class="d-flex justify-content-between align-items-center mb-2">
                            <span class="fw-bold" style="font-size: 14px;">Chief complaint (CC)</span>
                            <button class="btn btn-link p-0">
                                <span class="fw-bold text-danger" style="font-size: 14px;">ค่วยกด F9 หรือ Double click ในช่อง text</span>
                            </button>
                        </div>
                        <input type="text" class="form-control" style="height: 35px; background-color: #D9D9D9; font-size: 14px;" placeholder="">
                    </div>
                    <!-- ประวัติการเจ็บป่วยปัจจุบัน -->
                    <div class="col-12 p-2">
                        <div class="d-flex justify-content-between align-items-center mb-2">
                            <span class="fw-bold" style="font-size: 14px;">ประวัติการเจ็บป่วยปัจจุบัน</span>
                            <button class="btn btn-link p-0">
                                <span class="fw-bold text-danger" style="font-size: 14px;">ค่วยกด F9 หรือ Double click ในช่อง text</span>
                            </button>
                        </div>
                        <input type="text" class="form-control" style="height: 35px; background-color: #D9D9D9; font-size: 14px;" placeholder="">
                    </div>
                    <!-- ตัวเลือกการรักษา -->
                    <div class="col-12">
                        <div class="d-flex justify-content-between align-items-center mb-2">
                            <span class="fw-bold" style="font-size: 14px;">ปัวเลือกการรักษา</span>
                        </div>
                        <div class="d-flex flex-wrap align-items-center gap-3">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="treat" [(ngModel)]="isTreatmentSelected" [value]="false" id="treat1">
                                <label class="form-check-label" for="treat1" style="font-size: 14px;">
                                    ไม่ได้รักษา
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="treat" [(ngModel)]="isTreatmentSelected" [value]="true" id="treat2">
                                <label class="form-check-label" for="treat2" style="font-size: 14px;">
                                    รักษา
                                </label>
                            </div>
                            <div class="flex-grow-1">
                                <select id="treatSelect" name="treat" class="form-select form-select-sm" [disabled]="!isTreatmentSelected">
                                    <option value="" disabled selected>-- กรุณาเลือก --</option>
                                    <option value="1">รักษา 1</option>
                                    <option value="2">รักษา 2</option>
                                    <option value="3">รักษา 3</option>
                                </select>
                            </div>
                            <div class="flex-grow-1">
                                <input id="additionalInput" type="text" class="form-control form-control-sm" [disabled]="!isTreatmentSelected" placeholder="">
                            </div>
                        </div>
                    </div>
                    <!-- ประวัติการเจ็บป่วยในอดีต -->
                    <div class="col-12 p-2">
                        <div class="d-flex justify-content-between align-items-center mb-2">
                            <span class="fw-bold" style="font-size: 14px;">ประวัติการเจ็บป่วยในอดีต</span>
                        </div>
                        <div class="d-flex flex-wrap gap-3">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="check1" value="check1" id="check1">
                                <label class="form-check-label" for="check1" style="font-size: 14px;">
                                    ปฏิเสธ
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="check2" value="check2" id="check2">
                                <label class="form-check-label" for="check2" style="font-size: 14px;">
                                    HT
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="check3" value="check3" id="check3">
                                <label class="form-check-label" for="check3" style="font-size: 14px;">
                                    DLP
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="check4" value="check4" id="check4">
                                <label class="form-check-label" for="check4" style="font-size: 14px;">
                                    DM
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="check5" value="check5" id="check5">
                                <label class="form-check-label" for="check5" style="font-size: 14px;">
                                    ไต
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="check6" value="check6" id="check6">
                                <label class="form-check-label" for="check6" style="font-size: 14px;">
                                    โรคหัวใจ
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="check7" value="check7" id="check7">
                                <label class="form-check-label" for="check7" style="font-size: 14px;">
                                    ลมชัก
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="check8" value="check8" id="check8">
                                <label class="form-check-label" for="check8" style="font-size: 14px;">
                                    โรคเลือด
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="check9" value="check9" id="check9">
                                <label class="form-check-label" for="check9" style="font-size: 14px;">
                                    ภูมิแพ้
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="check10" value="check10" id="check10">
                                <label class="form-check-label" for="check10" style="font-size: 14px;">
                                    มะเร็ง
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="check11" value="check11" id="check11">
                                <label class="form-check-label" for="check11" style="font-size: 14px;">
                                    โรคหลอดเลือดสมอง
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="check12" value="check12" id="check12">
                                <label class="form-check-label" for="check12" style="font-size: 14px;">
                                    โรคปอด
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="check13" value="check13" id="check13">
                                <label class="form-check-label" for="check13" style="font-size: 14px;">
                                    อื่นๆ
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </div>
</div>