<div
    style="width: 640px; height: 100%; padding: 10px; gap: 10px; display: flex; flex-direction: column; background-color: rgb(255, 255, 255);">
    <div class="content-left-1" style="width: 640px; background-color: #D9D9D9; border-radius: 20px; padding: 10px; box-shadow: 0px 4px 4px 0px #00000040;
display: flex; flex-direction: column;">
        <div>

            <div class="nurse_container">
                <div class="nurse_counter_box_1">
                    <span>ซักประวัติหน้าห้องตรวจ (Nurse Counter)
                    </span>
                    <button class="queue-help" style="display: flex; justify-content: center; align-items: center;">
                        <span style="color: #D73431;">เรียกคิวขึ้นจอ</span>
                    </button>
                    <button class="queue-help" style="display: flex; justify-content: center; align-items: center;">
                        <span style="color: #D73431;">Link to DM Profile</span>
                    </button>


                </div>
                <div class="nurse_content"
                    style="display: flex; flex-direction: row; gap: 10px ;justify-content: space-between;padding: 5px 10px; ">
                    <label>
                        มาโดย :
                        <input type="checkbox" name="option1" /> เดินมา
                    </label>
                    <label>
                        <input type="checkbox" name="option2" /> ล้อนั่ง
                    </label>
                    <label>
                        <input type="checkbox" name="option3" /> เปลนอน
                    </label>
                    <label>
                        <input type="checkbox" name="option3" /> อุ้ม
                    </label>
                    <label>
                        <input type="checkbox" name="option3" /> ใช้อุปกรณ์ช่วย
                    </label>
                </div>
                <div class="nurse_content"
                    style="display: flex; flex-direction: row; gap: 10px;justify-content: space-between;padding: 5px 10px; ">
                    <label>ประเภทผู้ช่วย :
                        <input type="checkbox" name="option1" /> เร่งด่วน
                    </label>
                    <label>
                        <input type="checkbox" name="option2" /> ไม่เร่งด่วน
                    </label>
                    <label>
                        <input type="checkbox" name="option3" /> Walk in
                    </label>
                    <label>
                        <input type="checkbox" name="option3" /> รับ Consult
                    </label>
                    <label>
                        <input type="checkbox" name="option4" /> Follow up
                    </label>
                </div>
                <div style="width: 100%; height: 400px; background-color: aqua;">
                    <div style="width: 100%; height: fit-content; background-color: rgb(61, 76, 90); display: flex; justify-content: space-between;">
                        <div style=" background-color: blanchedalmond; padding: 10px 5px;" >
                            <span style="font-size: 10px; font-weight: 700; width: 100%; height: fit-content; ">Test :</span>
                        </div>
                        <div style="padding: 10px 5px; width: 560px; height: fit-content; background-color: blue; display: flex; gap: 10px; flex-wrap: wrap;">
                            <div style="width: fit-content; height: 20px; background-color: brown; display: flex;">
                                <span style="width: 40px;">test</span>
                                <input type="text" style="width:55px">
                                <span style="width: 30px;">cm</span>
                            </div>
                        <div style="padding: 10px 5px; width: 560px; height: fit-content; background-color: blue; display: flex; gap: 10px; flex-wrap: wrap;">
                            <div style="width: fit-content; height: 20px; background-color: brown; display: flex;">
                                <span style="width: 40px;">test</span>
                                <input type="text" style="width:55px">
                                <span style="width: 30px;">cm</span>
                            </div>
                        <div style="padding: 10px 5px; width: 560px; height: fit-content; background-color: blue; display: flex; gap: 10px; flex-wrap: wrap;">
                            <div style="width: fit-content; height: 20px; background-color: brown; display: flex;">
                                <span style="width: 40px;">test</span>
                                <input type="text" style="width:55px">
                                <span style="width: 30px;">cm</span>
                            </div>
            
            
                        </div>
                    </div>
                </div>
                <div class="vs_box" style="width: 610px;height: 50px;justify-content: space-between;gap: 10px;">
                    <div class="vs2">

                    </div>
                </div>

                <div class="CC" style="display: flex;width: 100%;justify-content: space-between;font-weight: 700; ">
                    <label>Cheif Complaint CC</label>
                    <label style="color: #D73431;">คำช่วยกด F9 หรือ Double click ในช่อง text</label>

                </div>
                <div class="cc_box">

                </div>
                <div class="CC" style="display: flex;width: 100%;justify-content: space-between;font-weight: 700; ">
                    <label>ประวัติการเจ็บป่วยปัจจุบัน</label>
                    <label style="color: #D73431;">คำช่วยกด F9 หรือ Double click ในช่อง text</label>

                </div>
                <div class="cc_box">

                </div>
                <div class="sick_his" style="display: columns;width: 100%;font-weight: 700;  ">
                    <label>ประวัติการเจ็บป่วยปัจจุบัน</label>
                    <div class="sick_his_checkbox" style="display: flex;flex-direction: row;gap: 10px; ">
                        <label>
                            <input type="checkbox" name="option1" /> รักษา
                        </label>
                        <label>
                            <input type="checkbox" name="option2" /> ไม่ได้รักษา
                        </label>
                    </div>


                </div>
            </div>
        </div>
    </div>