<div style="width: 790px; height: 100%; padding: 10px 0px; gap: 10px; display: flex; flex-direction: column; ">
    <div *ngIf="selectedButtonIndex === 0">
        <app-doctor-screen-right></app-doctor-screen-right>
    </div>
    <div *ngIf="selectedButtonIndex === 1">
        <app-filtering-infomation-right></app-filtering-infomation-right>  
    </div>
   
    <div *ngIf="selectedButtonIndex === 2">
        <app-doctor-screen-right></app-doctor-screen-right>
    </div>
    <div *ngIf="selectedButtonIndexDoctor === 2">
        <app-nursing-info-right></app-nursing-info-right>
    </div>
   
    <div class="content-right-2" style="width: 790px; height: 39px; display: flex; justify-content: space-between; align-items: center;">
        <div style="width: fit-content; height: 39px; gap: 10px; display: flex;">
            <button>
                ↩️️️ Refer Back
            </button>
            <button>
                ⤵️ Refer Out
            </button>
        </div>
        <button>
            💾  บันทึก
        </button>
    </div>
</div>