

.content-right-2{
    button{
        margin: 0;
        width: 140px;
        height: 39px;
        border: 1px solid ;
        padding: 5px;
        gap: 10px;
        background-color: #62929E;
        display: flex;
        border-radius: 5px;
        font-size: 16px;
        font-weight: 700;
        justify-content: center;
        align-items: center;
    }
}

.custom-btn {
    background-color: #62929E;
    color: white;
    border: none;
    
    &:hover {
      background-color: #557c86;
      color: white;
    }
    
    &:active {
      background-color: #4b6f78 !important;
      color: white !important;
    }
  }
  
  .custom-btn-primary {
    @extend .custom-btn;
    background-color: #62929E;
  }