<div class="main-container">
    <div class="main-first container-fluid">
        <div class="row g-1 align-items-center flex-nowrap overflow-auto ">
            <div class="col-auto">
                <div class="first-div date-input d-flex align-items-center">
                    <span>วันที่ : </span>
                    <input type="text" [value]="currentDate">
                </div>
            </div>
            <div class="col-auto">
                <button class="icon-button">
                    <img src="/img/00.png" alt="">
                </button>
            </div>
            <div class="col-auto">
                <button class="icon-button">
                    <img src="/img/01.png" alt="">
                </button>
            </div>
            <div class="col-auto">
                <div class="first-div vn-input d-flex align-items-center">
                    <span>VN : </span>
                    <input class="search" type="text">
                </div>
            </div>
            <div class="col-auto">
                <div class="first-div hn-input d-flex align-items-center">
                    <span>HN : </span>
                    <input class="search" type="text">
                </div>
            </div>
            <div class="col-auto">
                <div class="first-div id-input d-flex align-items-center">
                    <span>ID : </span>
                    <input class="search" type="text">
                </div>
            </div>
            <div class="col-auto">
                <div class="first-div drug-allergy d-flex align-items-center">
                    <span>แพ้ยา :</span>
                    <input class="search" type="text">
                </div>
            </div>
            <div class="col-auto">
                <button class="clear-button" (click)="clearSearchInputs()">
                    <span>Clear</span>
                </button>
            </div>
        </div>
    </div>
    <div class="main-second">
        <div class="row g-2 align-items-center flex-nowrap overflow-auto hide-scrollbar">
            <div class="col-auto">
                <div class="second-div" style="background-color: #23395B;">
                    <div class="second-div-2" style="background-color: white;">
                        <span>BW</span>
                    </div>
                    <span style="color: white;">0.00</span>
                    <span style="color: white; font-size: 8px;">kg</span>
                </div>
            </div>
            <div class="col-auto">
                <div class="second-div" style="background-color: #ffffff;">
                    <div class="second-div-2" style="background-color: #23395B;">
                        <span style="color: white;">HT</span>
                    </div>
                    <span style="color: #23395B;">0.00</span>
                    <span style="color: #23395B; font-size: 8px;">kg</span>
                </div>
            </div>
            <div class="col-auto">
                <div class="second-div" style="background-color: #23395B;">
                    <div class="second-div-2" style="background-color: white;">
                        <span>BMI</span>
                    </div>
                    <span style="color: white;">0.00</span>
                </div>
            </div>
            <div class="col-auto">
                <div class="second-div" style="background-color: #ffffff;">
                    <div class="second-div-2" style="background-color: #23395B;">
                        <span style="color: white;">T</span>
                    </div>
                    <span style="color: #23395B;">0.00</span>
                </div>
            </div>
            <div class="col-auto">
                <div class="second-div" style="background-color: #23395B;">
                    <div class="second-div-2" style="background-color: white;">
                        <span>BP</span>
                    </div>
                    <span style="color: white;">0.00/0.00</span>
                </div>
            </div>
            <div class="col-auto">
                <div class="second-div" style="background-color: #ffffff;">
                    <div class="second-div-2" style="background-color: #23395B;">
                        <span style="color: white;">PR</span>
                    </div>
                    <span style="color: #23395B;">0.00</span>
                    <span style="color: #23395B; font-size: 8px;">bmp</span>
                </div>
            </div>
            <div class="col-auto">
                <div class="second-div" style="background-color: #23395B;">
                    <div class="second-div-2" style="background-color: white;">
                        <span>RP</span>
                    </div>
                    <span style="color: white;">0.00</span>
                    <span style="color: #ffffff; font-size: 8px;">bmp</span>
                </div>
            </div>
            <div class="col-auto">
                <div class="second-div" style="background-color: #ffffff;">
                    <div class="second-div-2" style="background-color: #23395B;">
                        <span style="color: white;">OFC</span>
                    </div>
                    <span style="color: #23395B;">0.00</span>
                    <span style="color: #23395B; font-size: 8px;">cm</span>
                </div>
            </div>
            <div class="col-auto">
                <div class="second-div" style="background-color: #23395B;">
                    <div class="second-div-2" style="background-color: white;">
                        <span>BSA</span>
                    </div>
                    <span style="color: white;">0.00</span>
                    <span style="color: #ffffff; font-size: 8px;">m2</span>
                </div>
            </div>
            <div class="col-auto">
                <div class="second-div" style="background-color: #ffffff;">
                    <div class="second-div-2" style="background-color: #23395B;">
                        <span style="color: white;">ANC</span>
                    </div>
                    <span style="color: #23395B;">0.00</span>
                    <span style="color: #23395B; font-size: 8px;">m2</span>
                </div>
            </div>
        </div>
    </div>
    <div class="main-third row g-1 align-items-center flex-nowrap overflow-auto">
        <div class="col-auto" *ngFor="let button of buttons; let i = index">
            <button class="third-div" 
                [class.active]="selectedButtonIndex === i" 
                (click)="onButtonClick(i)">
                <span>{{ button }}</span>
            </button>
        </div>
    </div>
    <div class="doctor-screen row g-1 align-items-center flex-nowrap overflow-auto" *ngIf="selectedButtonIndex === 1">
        <div class="col-auto" *ngFor="let button of buttons2; let i = index">
            <button class="doctor-screen-btn text-nowrap"
                [class.active]="selectedButtonIndexDoctor === i" 
                (click)="onButtonClickDoctor(i)">
                <span>{{ button }}</span>
            </button>
        </div>
    </div>
    <div class="row g-2">
        <div class="col-12 col-md-6">
            <app-content-left 
                [selectedButtonIndex]="selectedButtonIndex"
                [selectedButtonIndexDoctor]="selectedButtonIndexDoctor">
            </app-content-left>
        </div>
        <div class="col-12 col-md-6">
            <app-content-right 
                [selectedButtonIndex]="selectedButtonIndex"
                [selectedButtonIndexDoctor]="selectedButtonIndexDoctor">
            </app-content-right>
        </div>
    </div>
</div>